/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  background-color: black;
  font-family: Arial;
  font-size: 14px;
  color: lime;
}

a img {
  border: none;
}

a {
  color: lime;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.container {
  width: 950px;
  margin: 0 auto;
  vertical-align: top;
  padding: 10px 5px 10px 5px;
  border: solid 1px silver;
}

.bigtext {
  font-size: 18px;
}

.login_state {
  float: right;
  font-size: 14px;
  border: solid 1px silver;
}

.top_container {
  display: table;
}

.notifier {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.nav_options {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px silver;
}

.nav_options a {
  text-decoration: none;
}

.main {
  float: left;
  padding-left: 20px;
  border: solid 1px silver;
}

.slight_rounding {
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
}

.nav_container {

  width: 150px;
  background-color: inherit;
  padding: 20px 20px 20px 20px;
  border: solid 2px #32cd32;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;

}

.nav_item {
  display: table;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: black;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.fieldContainer {
    padding-top: 10px;
    width: 500px;
    display: table;
    clear: both;
    text-align: left;
}
.fieldLabel {
    float: left;
    width: 150px;
    text-align:left;
}
.field {
    float: left;
    width: 200px;
    text-align:left;
}

.login_container {

  vertical-align: middle;

  width: 350px;
  margin: 0 auto;
  background-color: black;
  padding: 20px 30px 20px 40px;
  border: solid 2px #32cd32;
  margin-top: 20px;

}

.login_container .fieldContainer .fieldLabel {
    float: left;
    width: 100px;
    text-align:left;
}

.login_container .fieldContainer .field {
    float: left;
    width: 200px;
    text-align:left;
}
